<phpunit bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         verbose="true">
    <testsuites>
        <testsuite name="unittest">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
